{% extends "base.template.html" %}

{% block content %}
<h1>
  {% if doc.module %}{$ doc.module | marked $}{% else %}{$ doc.name $}{% endif %}
</h1>


{$ doc.description | marked $}

{% if doc.knownIssueDocs %}
<div class="known-issues">
  <h2 id="known-issues">Known Issues</h2>
  <table class="definition-table">
  <tr><th>Name</th><th>Description</th></tr>
  {% for issueDoc in doc.knownIssueDocs -%}
  <tr>
    <td>{$ issueDoc.id | link(issueDoc.name, issueDoc) $}</td>
    <td>
    {% for issue in issueDoc.knownIssues -%}
      {$ issue | marked $}
    {% endfor -%}
    </td>
  </tr>
  {% endfor -%}
  </table>
</div>
{% endif %}


<div class="component-breakdown">
  <h2>Module Components</h2>
  {% for componentGroup in doc.componentGroups %}
  <div>
    <h3 class="component-heading" id="{$ componentGroup.groupType | dashCase $}">{$ componentGroup.groupType | title $}</h3>
    <table class="definition-table">
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      {% for component in componentGroup.components %}
      <tr>
        <td>{$ component.id | link(component.name, component) $}</td>
        <td>{$ component.description | firstParagraph | marked $}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endfor %}
</div>

{% if doc.usage %}
  <h2>Usage</h2>
  {$ doc.usage | marked $}
{% endif %}

{% endblock %}
